@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Comfortaa', cursive;
    background: #ffadad;
    padding-top: 20px;
    font-size: 16px;
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

.header__img{
    height: 80px;
    width: auto;
}

.header__title{
    font-size: 50px;
}

.section{
    padding: 30px 0 30px 15px;
    font-size: 1rem;
}

/*Color de fondo paracada una de las secciones*/
.section:nth-child(1){
    background: linear-gradient(to bottom, #ffadad, #ffd6a5);
}

.section:nth-child(3){
    background: linear-gradient(to bottom, #ffd6a5, #fdffb6);
}

.section:nth-child(5){
    background: linear-gradient(to bottom, #fdffb6, #caffbf);
}

.section:nth-child(7){
    background: linear-gradient(to bottom, #caffbf, #9bf6ff);
    text-align: center;
}

.footer{
    background: linear-gradient(to bottom, #9bf6ff, #a0c4ff);
    text-align: center;
    padding: 30px 0;
    line-height: 25px;
}
/*-----------------------------------------------------------------*/

.section__phrase{
    margin: 8px 0 8px 40px;
}

.section__poem{
    margin: 20px 0 20px -55px;
}

.footer__credits-link{
    text-decoration: none;
    font-weight: 700;
    color: #000000;
}

.line{
    border-color: transparent;
    
}